body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
table thead,tbody, tr, td, tfoot {
          border: 1px solid #e9ecef;
}
