{% include "QCLoggerApp/_header.html"%}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <form action="" method="get">
                <label>质检员：</label>
                <select name="" id="employee-select">
                    <option></option>
                    {% for e in employees %}
                    <option>{{e.name_text}}</option>
                    {% endfor %}
                    </ul>
                </select>
            </form>

            <form>
                {% csrf_token %}
                <label>唯一码：</label>
                <input type="text" name="ucode" class="field-long" id="ucode-input"/>
            </form>
        </div>
        <div class="col-4">
            <p>总数：<span id="ucode-table-total"></span></p>
            <table id="ucode-table">
                <thead>
                <tr>
                    <th>唯一码</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "QCLoggerApp/_footer.html"%}
