{% include "QCLoggerApp/_header.html"%}
<div class="container-fluid">
    <div class="row">
        <form>
                <label>质检员：</label>
                <select id="employee-select">
                    <option></option>
                    {% for e in employees %}
                    <option>{{e.name_text}}</option>
                    {% endfor %}
                    </ul>
                </select>
                <label>唯一码：</label>
                <input type="text"  class="field-long" id="ucode-input"/>
                <input type="submit" value="搜索" id="search-button" />
        </form>
    </div>

    <div class="row">
        <div class="col-4">
             <p>汇总：</p>
            <table id="summary-table">
                <thead>
                <tr>
                    <th>质检员</th>
                    <th>数量</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col">
            {% include "QCLoggerApp/_recordTable.html" %}
        </div>
    </div>
</div>

{% load staticfiles %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script src="{% static 'QCLoggerApp/js/common.js' %}" type="text/javascript"></script>
<script src="{% static 'QCLoggerApp/js/reports.js' %}" type="text/javascript"></script>

{% include "QCLoggerApp/_footer.html"%}
